<% content_for :title, "Setup team" %>

<% if !@game.cloud_photo.key.nil? %>
  <div class="mobile-header mb-4"  style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url('<%= cl_image_path @game.cloud_photo.key %>')">
<% else %>
  <div class="mobile-header mb-4"  style="background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(https://res.cloudinary.com/borhan-cloud/image/upload/v1655289517/development/placeholder.png)">
<% end %>
    <h1>Welcome to the <%= @game.name %> game</h1>
  </div>

<div class="mobile-container">

  <%= simple_form_for [ @game, @team ] do |f| %>
    <%= f.input :name, as: :string, label: "Enter your team name", class: "team-input mb-4" %>
    <%= f.input :team_photo, as: :file, label: "Team photo time! 📸" %>
    <%= f.button :submit, class: "button beige mobile-join-flow-btn", value: "Let's play!" %>
  <% end %>
</div>
