  <%= render "shared/navbar/navbar-dashboard" %>
  <div class="container user-show">
  <div class="dashboard-heading">
    <h1 id="dashboard-header">Dashboard</h1>
    <div class="dashboard-header-right">
      <%= render "shared/search" %>
      <%= link_to "Create a game", new_game_path, class: "button green" %>
    </div>
  </div>
      <div class="row card-row">

      <% time = Time.now %>

      <% upcoming = @games.where('start >= ?', time) %>
      <% upcoming.sort_by { |el| el[:start] }.each do |game| %>
        <%= render "shared/games_card", { game: game } %>
      <% end %>
      <% time = Time.now %>
      <% completed = @games.where('start < ?', time) %>
      <% completed.sort_by { |el| el[:start] }.each do |game| %>
        <%= render "shared/games_card", { game: game } %>
      <% end %>
    </div>
  </div>
