  <%= render "shared/navbar/navbar-dashboard" %>
  <div class="container user-show">
  <div class="dashboard-heading">
    <h1 id="dashboard-header">Dashboard</h1>
    <div class="dashboard-header-right">
      <%= render "shared/search" %>
      <%= link_to "Create a game", new_game_path, class: "button green" %>
    </div>
  </div>
      <div class="row card-row">

      <% time = Time.now.strftime("%m/%d/%Y") %>

      <% upcoming = @games.where('start >= ?', time) %>
      <% upcoming.sort_by { |el| el[:start] }.each do |game| %>
        <%= render "shared/games_card", { game: game } %>
      <% end %>
      <% time = Time.now.strftime("%m/%d/%Y") %>
      <% completed = @games.where('start < ?', time) %>
      <% completed.sort_by { |el| el[:start] }.each do |game| %>
        <%= render "shared/games_card", { game: game } %>
      <% end %>
    </div>
  </div>

<div class="footer">
  <div class="container">
    <div class="footer-copyright">
      <span id='footer-tagline'> Find games and play on </span> <%= link_to root_path do %>
        <%= image_tag "trace-logo.gif", class: 'logo-footer' %>
      <% end %>
    </div>
    <div class="footer-links">
      <%# <a href="#"><i class="fab fa-github"></i></a> %>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <%# <a href="#"><i class="fab fa-twitter"></i></a> %>
      <%# <a href="#"><i class="fab fa-linkedin"></i></a> %>
    </div>
  </div>
</div>
