<div class="col-4">
  <div class="card">
    <%= image_tag game.photo, class: "card-img-top" %>
    <div class="card-body">
      <h3 class="card-title"> <%= game.name %> </h3>
      <% time = game.start %>
      <h5 class="card-title"> <%= game.start.strftime("%R %P") %> to <%= game.end.strftime("%R %P") %> </h5>
      <h5 class="card-title"> <%= time.strftime("%A, %B #{time.day.ordinalize} %Y ") %> </h5>
    </div>
  </div>
</div>
