
<div class="col-4 game-col d-flex justify-content-center">
  <%= link_to game_path(game) do %>
    <% time = Time.now %>
    <% unless game.start < time %>
      <div class="card">
    <% else %>
      <div class="card completed">
    <% end %>
      <% if !game.cloud_photo.key.nil? %>
        <%= cl_image_tag game.cloud_photo.key, class: "card-img-top " %>
      <% else %>
        <%= image_tag game.photo, class: "card-img-top " %>
      <% end %>
      <div class="card-body">
        <% if game.start.day == time.day %>
          <p class="status today">Today</p>
        <% elsif game.start < time  %>
          <p class="status upcoming">Completed</p>
        <% else %>
          <p class="status upcoming">Upcoming</p>
        <% end %>
        <h3 class="card-title"> <%= game.name %> </h3>
        <% time = game.start %>
        <h6 class="card-time"> <%= game.start.strftime("%R %P") %> to <%= game.end.strftime("%R %P") %> </h6>
        <h6 class="card-date"> <%= time.strftime("%A, %B #{time.day.ordinalize} %Y ") %> </h6>
        <% link_to game_path(game) %>
        <% if game.code.nil? && game.start >= Time.now %>
          <p id="publish">Publish game</p>
        <% elsif game.code.present? %>
          <div class="game-code">
            <%= link_to game_confirmation_path(game), target: "_blank" do %>
              <h4>Game code <%= game.code %></h4>
            <% end %>
          </div>
        <% end %>
      </div>
      </div>
  <% end %>
</div>
