<div class="col-4 game-col">
  <div class="card" data-controller="game-card">
    <%= image_tag game.photo, class: "card-img-top " %>
    <div class="card-body">
      <h3 class="card-title"> <%= game.name %> </h3>
      <% time = game.start %>
      <h6 class="card-time"> <%= game.start.strftime("%R %P") %> to <%= game.end.strftime("%R %P") %> </h6>
      <h6 class="card-date"> <%= time.strftime("%A, %B #{time.day.ordinalize} %Y ") %> </h6>
      <%= link_to "game", game_path(game) %>
    </div>
  </div>
</div>
