<div class="mobile-challenge-details" data-controller="completions" data-challenge-id="<%= challenge.id %>"
  data-game-id="<%= challenge.game_id %>"  data-team-id="<%= @team.id %>" data-completion-id="<%= Completion.find_by(team: @team, challenge: challenge).id %>">
  <h2><%= challenge.question %></h2>
  <%= form_with do |form| %>

    <% numArr =[1,2,3,'correct']  %>
    <% chalArr = [:challenge_1, :challenge_2, :challenge_3, :challenge_correct] %>
    <% chalAnsArr = [challenge.answer_1, challenge.answer_2, challenge.answer_3, challenge.answer_correct] %>
    <% correctTarget = {data: {completions_target: "correct"}} %>
    <% emptyTarget = {:id => 'form_id'} %>
    <% target = nil %>

    <% num = numArr.sample  %>
    <% index = numArr.index(num) %>
    <% chal = chalArr[index] %>
    <% chalAns = chalAnsArr[index] %>

    <% if num == 'correct' %>
    <% target = correctTarget  %>
    <% else %>
    <% target = emptyTarget  %>
    <% end  %>

    <div class="question-group" >
      <%= form.radio_button :challenge, num %>
      <%= form.label chal, chalAns, target %>
    </div>

    <% numArr.delete_at(index) %>
    <% chalArr.delete_at(index) %>
    <% chalAnsArr.delete_at(index) %>

    <% num = numArr.sample %>
    <% index = numArr.index(num) %>
    <% chal = chalArr[index] %>
    <% chalAns = chalAnsArr[index] %>

    <% if num == 'correct' %>
    <% target = correctTarget  %>
    <% else %>
    <% target = emptyTarget  %>
    <% end %>

    <div class="question-group" >
      <%= form.radio_button :challenge, num %>
      <%= form.label chal, chalAns, target %>
    </div>

    <% numArr.delete_at(index) %>
    <% chalArr.delete_at(index) %>
    <% chalAnsArr.delete_at(index) %>

    <% num = numArr.sample %>
    <% index = numArr.index(num) %>
    <% chal = chalArr[index] %>
    <% chalAns = chalAnsArr[index] %>

    <% if num == 'correct' %>
    <% target = correctTarget  %>
    <% else %>
    <% target = emptyTarget  %>
    <% end %>

    <div class="question-group" >
      <%= form.radio_button :challenge, num  %>
      <%= form.label chal, chalAns, target %>
    </div>

    <% numArr.delete_at(index) %>
    <% chalArr.delete_at(index) %>
    <% chalAnsArr.delete_at(index) %>

    <% num = numArr.sample %>
    <% index = numArr.index(num) %>
    <% chal = chalArr[index] %>
    <% chalAns = chalAnsArr[index] %>

    <% if num == 'correct' %>
    <% target = correctTarget  %>
    <% else %>
    <% target = emptyTarget  %>
    <% end %>

    <div class="question-group" >
      <%= form.radio_button :challenge, num  %>
      <%= form.label chal, chalAns, target %>
    </div>

    <% completion = @completion = Completion.find_by(team: @team, challenge: challenge) %>
    <%= form.submit data: {action: "click->completions#choice"} %>
  <% end %>
</div>
