<div class="mobile-challenge-details" data-controller="completions" data-challenge-id="<%= challenge.id %>"
  data-game-id="<%= challenge.game_id %>"  data-team-id="<%= @team.id %>" data-completion-id="<%= Completion.find_by(team: @team, challenge: challenge).id %>">
  <h2><%= challenge.question %></h2>
  <%= form_with do |form| %>

    <% numArr =[1,2,3]  %>
    <% chalArr = [:challenge_1, :challenge_2, :challenge_3] %>
    <% chalAnsArr = [challenge.answer_1, challenge.answer_2, challenge.answer_3] %>
    <% num = numArr.sample  %>
    <% index = numArr.index(num) %>
    <% chal = chalArr[index] %>
    <% chalAns = chalAnsArr[index] %>

    <div class="question-group" >
      <%= form.radio_button :challenge, num, data: {action: "change->completions#check"} %>
      <%= form.label chal, chalAns %>
    </div>

    <% numArr.delete(index) %>
    <% chalArr.delete(index) %>
    <% chalAnsArr.delete(index) %>

    <% num = numArr.sample %>
    <% index = numArr.index(num) %>
    <% chal = chalArr[index] %>
    <% chalAns = chalAnsArr[index] %>

    <div class="question-group" >
      <%= form.radio_button :challenge, num, data: {action: "change->completions#check"} %>
      <%= form.label chal, chalAns %>
    </div>

    <% numArr.delete(index) %>
    <% chalArr.delete(index) %>
    <% chalAnsArr.delete(index) %>

    <% num = numArr.sample %>
    <% index = numArr.index(num) %>
    <% chal = chalArr[index] %>
    <% chalAns = chalAnsArr[index] %>

    <div class="question-group" >
      <%= form.radio_button :challenge, num, data: {action: "change->completions#check"} %>
      <%= form.label chal, chalAns %>
    </div>

    <div class="question-group" >
      <%= form.radio_button :challenge, 'correct', data: {action: "change->completions#check"} %>
      <%= form.label :challenge_correct, challenge.answer_correct , data: {completions_target: "correct"}%>
    </div>

    <%= form.submit data: {action: "click->completions#choice"} %>
  <% end %>
</div>
