<div class="mobile-challenge-details">
  <h2><%= challenge.question %></h2>
  <%= form_with do |form| %>
    <div class="question-group">
      <%= form.radio_button :challenge, 1 %>
      <%= form.label :challenge_1, challenge.answer_1 %>
    </div>

    <div class="question-group">
      <%= form.radio_button :challenge, 2 %>
      <%= form.label :challenge_3, challenge.answer_3 %>
    </div>

    <div class="question-group">
      <%= form.radio_button :challenge, 4 %>
      <%= form.label :challenge_3, challenge.answer_3 %>
    </div>

    <div class="question-group">
      <%= form.radio_button :challenge, 'correct' %>
      <%= form.label :challenge_correct, challenge.correct_answer %>
    </div>

    <%= form.submit %>
  <% end %>
</div>
