<div class="background"></div>

<div class="container confirmation-box">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="title justify-content-start">
        <h2><%=@game.name%></h2>
      </div>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="location justify-content-start">
          <h5><%=@game.city%>, United Kingdom</h5>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="time justify-content-start">
          <p><strong>Time: </strong><%= @game.start.strftime("%R %P") %> to <%= @game.end.strftime("%R %P") %></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="date justify-content-start">
          <% time = @game.start %>
          <p><strong>Date: </strong><%= time.strftime("%A, %B #{time.day.ordinalize} %Y ") %></p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="code">
          <h3> <%=@game.code %></h3>
          <%= image_tag "qr_code#{@game.code}.png" %>
        </div>
      </div>
    </div>
</div>
