<h1 id="leaderboard-header"><%= @game.name %></h1>
<div class="container">
  <table id="leaderboard-table">
    <tr>
      <th></th>
      <th>Team</th>
      <th>Score</th>
      <th>Finish Time</th>
    </tr>
  <% @game.teams.sort_by{ |team| -team.score }.each do |team| %>

    <tr>
      <% if !team.team_photo.key.nil? %>
        <td><div id="team-avatar" style="background-image: url(<%= cl_image_path team.team_photo.key %>)"></div></td>
      <% else %>
        <td><div id="team-avatar" style="background-image: url(https://res.cloudinary.com/borhan-cloud/image/upload/v1655313095/development/avatar.png)"></div></td>
      <% end %>
      <td><%= team.name %></td>
      <td class="leaderboard score py-2"><%= team.score %></td>
      <td><%= team.finish.nil? ? "Still playing!" : team.finish.strftime("%H:%M:%S") %></td>
    <tr>

    <% end %>
  </table>
</div>
