<div class="mobile-game">
  <div class="mobile-game-header">
    <div class='left'>
      <h1><%= @game.name %></h1>
      <span><%= @game.start.strftime("%R %P") %> – <%= @game.end.strftime("%R %P") %></span>
      <div class="weather">
        <span>Weather</span><br>
      </div>
    </div>
    <div class='right'>
      <div class="timer"></div>
      <div class="help"></div>
    </div>
  </div>

  <!-- marker for each challenge -->
    <% @markers = @game.challenges.geocoded.map do |challenge| %>
      <% {
          lat: challenge.latitude,
          lng: challenge.longitude,
          info_window: render(partial: "challenge_popup", locals: {challenge: challenge})
          # image_url: helpers.asset_url("app/assets/images/marker.png")

          } %>
    <% end %>

  <!-- map -->
  <div class="mobile-game-map">
    <div style="width: 100vw; height: 100vh;"
    data-controller="map-mobile"
    data-map-mobile-markers-value="<%= @markers.to_json %>"
    data-map-mobile-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="challenge-info">

  </div>

</div>
