<% content_for :title, @game.name %>

<div class="mobile-game" data-controller="mobile-play">
  <div class="mobile-game-header" data-mobile-play-target="height">
    <div class="mobile-header" id='mobile-play-header'>
      <div class='left' >
        <div class="mobile-play-heading" data-action="click->mobile-play#gameDetails">
          <h1 id='mobile-game-name'><%= @game.name %></h1>
          <p id='details-toggle'><%= image_tag 'toggle.png', id: 'toggle-icon'%></p>
        </div>

        <div class="play-team" data-mobile-play-target="show1">
          <% if !@team.team_photo.key.nil? %>
            <td><div id="team-avatar" style="background-image: url(<%= cl_image_path @team.team_photo.key %>)"></div></td>
          <% else %>
            <td><div id="team-avatar" style="background-image: url(https://res.cloudinary.com/borhan-cloud/image/upload/v1655313095/development/avatar.png)"></div></td>
          <% end %>
          <strong><p><%= @team.name %></p></strong>
        </div>

        <p data-mobile-play-target="show2">Start <%= @game.start.strftime("%R %P") %> <br>End <%= @game.end.strftime("%R %P") %></p><br>

        <p data-mobile-play-target="show7">The weather today is </p>
        <div class="weather" data-controller="weather" data-mobile-play-target="show3" data-mobile-play-target="show" data-weather-api-value="<%= ENV['OPEN_WEATHER_MAP_API_KEY'] %>">
          <img data-mobile-play-target="show4" src="" alt="weather icon" data-weather-target="icon" >
          <p data-mobile-play-target="show5" data-weather-target="temperature"></p>
        </div>

        <div class="crosshairs" data-mobile-play-target="show6">
          <hr>
          <p id='how-to-play'>How to play</p><br>
          <p>1. Click the <i class="fa-solid fa-location-crosshairs"></i> icon to show your current location </p><br>
          <p>2. Visit each orange marker and answer correctly to solve the challenge</p><br>
          <p>3. Complete all challenges the fastest! Best time wins. </p><br>
          <p>4. Once all challenges are completed, click on the <br><span id="leaderboard-icon"><%=image_tag("leaderboard.png")%><%= link_to "leadboard", game_leaderboard_path(@game)%></span> to see how you did!</p>
        </div>
      </div>
    </div>
  </div>
  <% lost = (Time.zone.now + 1*60*60) - @team.created_at %>
  <% full = @game.end - @team.created_at %>
  <% left = full - lost %>
  <p hidden id="timer"> <%= left %> </p>

  <div class="timer">
      <%= image_tag 'timer.png', id:'timer-icon'%>
      <% if ((Time.zone.now + 1*60*60) > @game.end) %>
      <span>
      Times up!
      <span>
      <% else %>
      <span id="clockdiv">
      <span class="hours"></span>:
      <span class="minutes"></span>:
      <span class="seconds"></span>
      <span>
      <% end  %>
    </div>

  <!-- marker for each challenge -->
    <% @markers = @game.challenges.geocoded.map do |challenge| %>
      <% {
          lat: challenge.latitude,
          lng: challenge.longitude,
          info_window: render(partial: "challenge_popup", locals: {challenge: challenge})
          # image_url: helpers.asset_url("app/assets/images/marker.png")

          } %>
    <% end %>

  <!-- map -->
  <div class="mobile-game-map">
    <div style="width: 100vw; height: 100vh;"
    data-controller="map-mobile"
    data-map-mobile-markers-value="<%= @markers.to_json %>"
    data-map-mobile-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div class="challenge-info">

  </div>

</div>

<script>
function getTimeRemaining(endtime) {
  var t = Date.parse(endtime) - Date.parse(new Date());
  var seconds = Math.floor((t / 1000) % 60);
  var minutes = Math.floor((t / 1000 / 60) % 60);
  var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
  return {
    'total': t,
    'hours': hours,
    'minutes': minutes,
    'seconds': seconds
  };
}

function initializeClock(id, endtime) {
  var clock = document.getElementById(id);
  var hoursSpan = clock.querySelector('.hours');
  var minutesSpan = clock.querySelector('.minutes');
  var secondsSpan = clock.querySelector('.seconds');

  function updateClock() {
    var t = getTimeRemaining(endtime);

    hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
    minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
    secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

    if (t.total <= 0) {
      clearInterval(timeinterval);
    }
  }

  updateClock();
  var timeinterval = setInterval(updateClock, 1000);
}

var timeTo = parseInt(document.getElementById("timer").innerHTML)
var timeInSeconds = timeTo
var currentTime = Date.parse(new Date());
var deadline = new Date(currentTime + timeInSeconds*1000);
initializeClock('clockdiv', deadline);
</script>
