<%= render "shared/navbar" %>
<div class="container page-container" data-controller="challenge" >
  <div class="half-block left">
    <div class="game-details">
      <div class="left">
        <p><%= @game.name %></p>
        <p><%= @game.start %> – <%= @game.end %></p>
        <a href=<% link_to %>>
      </div>
      <div class="right">
        <%= link_to "Add challenge", "#", class: "button beige" %>
        <%= link_to "Publish game", "#", class: "button green" %>
      </div>

      <% if @game.challenges.count == 0 %>
        <p>You have not added any challenges. <%= link_to "Add a challenge", "#" %></p>
      <% else %>
        <% @game.challenges.each do |challenge| %>
          <div class="challenge-list-item">
            <div class="challenge-number"></div>
            <div class="challenge-card">
              <h2><%= challenge.question %></h2>

              <div class="div"  data-challenge-id="<%= challenge.id %>">
                <p data-action="click->challenge#showModal">Click me</p>
                <%# <%= link_to "View/edit details", edit_game_challenge_path(challenge) %>
                <div class="challenge-modal" data-challenge-target="modal">
                  <%# <%= render "challenges/edit" %>

                  <div class="modal-container">
                    <div class="modal-details">
                      <div class="half-modal left">
                        <h1>Edit challenge</h1>
                        <%= render "form", locals: { game: @game, challenge: @challenge } %>
                      </div>

                      <div class="half-modal right">
                        <a href='#' id='modal-close' data-action="click->challenge#closeModal"><%= image_tag 'close.png', class: "close-icon" %></a>
                        <div style="width: 84vw; height: 84vh; !important;"
                        data-controller="map-challenge"
                        data-map-challenge-markers-value="<%= @markers.to_json %>"
                        data-map-challenge-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="half-block right">
    <div style="width: 100%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

  <div class="background-opacity" data-challenge-target="opacity"></div>
</div>

<div class="progress-bottom">
  <div class='step-two'></div>
</div>
