<%= render "shared/navbar/navbar-home" %>
<div class="container page-container" data-controller="challenge" >
  <div class="half-block left">
    <div class="game-details">
      <div class="left">
        <span><strong><%= @game.name %></strong></span><br>
        <span><%= @game.city %></span><br>
        <% time = @game.start %>
        <span> <%= @game.start.strftime("%R %P") %> to <%= @game.end.strftime("%R %P") %> </span><br>
        <span> <%= time.strftime("%A, %B #{time.day.ordinalize} %Y ") %> </span>
      </div>
      <div class="right">
        <button data-action="click->challenge#addChallenge">Add challenge
          <%#= link_to "Add challenge", new_game_challenge_path(@game), class: "button beige" %>
        </button>

        <!---------- NEW CHALLENGE MODAL ------>
        <div class="challenge-modal"  data-challenge-target="new">
          <%#= render "challenges/new", locals: { game: @game, challenge: @challenge } %>
          <div class="modal-container">
            <div class="modal-details">
            <div class="half-modal left">
              <h1>New challenge</h1>
              <%= simple_form_for [ @game, @challenge ] do |f| %>
                <%= f.input :question, as: :string %>
                <%= f.input :answer_1, as: :string %>
                <%= f.input :answer_2, as: :string %>
                <%= f.input :answer_3, as: :string %>
                <%= f.input :correct_answer, as: :string %>
                <%= f.input :points, as: :integer %>
                <%= f.button :submit %>
              <% end %>
            </div>
            <div class="half-modal right">
              <button id='modal-close' data-action="click->challenge#closeModal"><%= image_tag 'close.png', class: "close-icon" %></button>
              <div style="width: 42vw; height: 84vh;"
              data-controller="map-challenge"
              data-map-challenge-markers-value="<%= @markers.to_json %>"
              data-map-challenge-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
              </div>
            </div>
          </div>
        </div>

        <%= link_to "Publish game", game_confirmation_path(@game), class: "button green" %>
      </div>
    </div>

      <% if @game.challenges.count == 0 %>
        <p>You have not added any challenges. <p id='new-challenge-link' data-action="click->challenge#addChallenge">Add a challenge</p>
      <% else %>

        <!--------- Iterate through challenges coordinates and create markers ------->
        <% @markers = @game.challenges.geocoded.map do |challenge| %>
          <% {
              lat: challenge.latitude,
              lng: challenge.longitude
              # image_url: helpers.asset_url("app/assets/images/marker.png")
              } %>
        <% end %>


        <!--------------- CHALLENGE LIST LOOP --------->
        <% @game.challenges.each_with_index do |challenge,index| %>
          <div class="challenge-list-item" data-controller="challenge" data-challenge-number-value="<%= challenge.id %>">
            <div class="background-opacity" data-challenge-target="opacity"></div>
            <div class="challenge-number"><h2><%= index + 1%></h2></div>
            <div class="challenge-card">
              <h3><%= challenge.question %></h3>
              <div class="div" >

                <% if !challenge.location.nil? %>
                  <% @marker = [{ lat: challenge.geocode[0], lng: challenge.geocode[1] }] %>
                <% end %>
                <p class='challenge-edit'  data-action="click->challenge#showModal" >View/edit details</p>
                <%# <%= link_to "View/edit details", edit_game_challenge_path(challenge) %>

                <!---- EDIT CHALLENGE MODAL --------->
                <div class="challenge-modal" data-challenge-target="modal" >
                  <%# <%= render "challenges/edit" %>
                  <div class="modal-container" data-controller="map-challenge" data-map-challenge-marker-value="<%= @marker.to_json %>"
                        data-map-challenge-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
                    <div class="modal-details">
                      <div class="half-modal left" >
                        <h1>Edit challenge</h1>
                        <%= @challenge = challenge %>
                        <%= render "challenges/form", locals: { game: @game, challenge: @challenge } %>
                      </div>
                      <div class="half-modal right">
                        <button id='modal-close' data-action="click->challenge#closeModal"><%= image_tag 'close.png', class: "close-icon" %></button>
                        <div id='modal-map' data-challenge-target="map" style="width: 42vw; height: 84vh;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>

  <div class="half-block right">
    <div style="width: 100%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>

<div class="progress-bottom">
  <div class='step-two'></div>
</div>
