<%= render "shared/navbar/navbar-home" %>
<div class="container page-container" data-controller="challenge" >
  <div class="half-block left">
    <div class="game-details">
      <div class="left">
        <div class="edit-game" data-action="mouseover->challenge#editHover mouseout->challenge#editNone">
          <div class='edit-header'>
            <h3><%= @game.name %></h3>
            <!---------- EDIT, DELETE FUNCTIONS ------>
            <span class='edit' data-challenge-target="edit"><%= link_to image_tag('edit.png'), edit_game_path(@game), class: "edit-icon" %></span>
            <span class='edit' data-challenge-target="delete"><%= link_to image_tag('delete.png'), game_path(@game), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "edit-icon" %></span>
          </div>
          <br>
          <span><%= @game.city %></span><br>
          <% time = @game.start %>
          <span> <%= @game.start.strftime("%R %P") %> to <%= @game.end.strftime("%R %P") %> </span><br>
          <span> <%= time.strftime("%A, %B #{time.day.ordinalize} %Y ") %> </span>
        </div>
      </div>
      <div class="right">
        <button class='button beige' data-action="click->challenge#addChallenge click->challenge#showModal">Add challenge</button>

        <!---------- NEW CHALLENGE MODAL ------>
        <div class="background-opacity" data-challenge-target="opacity"></div>
        <div class="challenge-modal"  data-challenge-target="new modal">
          <%#= render "challenges/new", locals: { game: @game, challenge: @challenge } %>
          <div class="modal-container"
            data-controller="map-challenge"
            data-map-challenge-markers-value="<%= @marker.to_json %>"
            data-map-challenge-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            <div class="modal-details">
            <div class="half-modal left">
              <h1>New challenge</h1>

              <%= simple_form_for [ @game, @challenge ] do |f| %>
                <%= f.input :location,
                input_html: {data: {address_autocomplete_target: "address", map_challenge_target: "location"}, class: "d-none"},
                # input_html: {data: {map_challenge_target: "location"}},
                wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                %>
                <em><p id="fit"><%=image_tag 'location.png'%>Check location on map</p></em>
                <%= f.input :latitude, :as => :hidden, input_html: {data: {map_challenge_target: "lat"}} %>
                <%= f.input :longitude, :as => :hidden, input_html: {data: {map_challenge_target: "long"}} %>
                <%= f.input :question, as: :string %>
                <%= f.input :answer_correct, as: :string, label: false, placeholder: 'correct answer' %>
                <%= f.input :answer_1, as: :string, label: false, placeholder: 'first wrong answer' %>
                <%= f.input :answer_2, as: :string, label: false, placeholder: 'second wrong answer' %>
                <%= f.input :answer_3, as: :string, label: false, placeholder: 'third wrong answer' %>

                <%= f.input :points, as: :integer %>
                <%= f.button :submit, class: "button green" %>
              <% end %>
            </div>
            <div class="half-modal right">
              <p id='modal-close' data-action="click->challenge#closeModal"><%= image_tag 'close.png', class: "close-icon" %></p>
              <div id="modal-map-<%= @challenge.id %>" data-map-challenge-target="right" style="width: 42vw; height: 84vh;"></div>
              </div>
            </div>
          </div>
        </div>

        <%= link_to "Publish game", game_confirmation_path(@game), target: "_blank", class: "button green" %>
      </div>
    </div>

      <% if @game.challenges.count == 0 %>
        <p>You have not added any challenges. <p id='new-challenge-link' data-action="click->challenge#addChallenge" >Add a challenge</p>
      <% else %>

        <!--------- Iterate through challenges coordinates and create markers ------->
        <% @markers = @game.challenges.geocoded.map do |challenge| %>
          <% {
              lat: challenge.latitude,
              lng: challenge.longitude
              # image_url: helpers.asset_url("app/assets/images/marker.png")
              } %>
        <% end %>


        <!--------------- CHALLENGE LIST LOOP --------->
        <% @game.challenges.each_with_index do |challenge, index| %>
          <div class="challenge-list-item" data-controller="challenge" data-challenge-number-value="<%= challenge.id %> " data-action="mouseover->challenge#editHover mouseout->challenge#editNone">
            <div class="background-opacity" data-challenge-target="opacity"></div>
            <div class="challenge-number"><h2><%= index + 1%></h2></div>
            <div class="challenge-card">
              <div class='question'><h3><%= challenge.question %></h3></div>
              <div class="div" >

                <% if !challenge.location.nil? %>
                  <% @marker = [{ lat: challenge.geocode[0], lng: challenge.geocode[1] }] %>
                <% end %>

                  <div class='challenge-edit'>
                    <!---------- EDIT, DELETE FUNCTIONS ------>
                    <span class='edit' data-challenge-target="edit" data-action="click->challenge#showModal"><a style="cursor: pointer" class="challenge-edit edit-icon"><%= image_tag('edit.png') %></a></span>
                    <span class='edit' data-challenge-target="delete"><%= link_to image_tag('delete.png'), challenge_path(challenge), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "edit-icon" %></span>
                  </div>

                <!---- EDIT CHALLENGE MODAL --------->
                <div class="challenge-modal" data-challenge-target="modal" >
                  <%# <%= render "challenges/edit" %>
                  <div class="modal-container"
                  data-controller="map-challenge"
                  data-map-challenge-marker-value="<%= @marker.to_json %>"
                  data-map-challenge-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
                  >
                    <div class="modal-details">
                      <div class="half-modal left">
                        <h1>Edit challenge</h1>
                        <%= simple_form_for [ @game, challenge ] do |f| %>

                        <%= f.input :location,
                            input_html: {data: {address_autocomplete_target: "address", map_challenge_target: "location"}, class: "d-none"},
                            # input_html: {data: {map_challenge_target: "location"}},
                            wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
                        %>
                        <%= f.input :latitude, :as => :hidden, input_html: {data: {map_challenge_target: "lat"}} %>
                        <%= f.input :longitude, :as => :hidden, input_html: {data: {map_challenge_target: "long"}} %>
                        <%= f.input :question, as: :string %>
                        <%= f.input :answer_correct, as: :string %>
                        <%= f.input :answer_1, as: :string %>
                        <%= f.input :answer_2, as: :string %>
                        <%= f.input :answer_3, as: :string %>
                        <%= f.input :points, as: :integer %>
                        <%= f.button :submit, class: "button green edit-challenge-submit" %>
                      <% end %>
                      </div>
                      <div class="half-modal right">
                        <p id='modal-close' data-action="click->challenge#closeModal"><%= image_tag 'close.png', class: "close-icon" %></p>
                        <div id="modal-map-<%= challenge.id %>" data-map-challenge-target="right" style="width: 42vw; height: 84vh;"
                        ></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
      <% end %>
    </div>

  <div class="half-block right is-loading">
  </div>

  <div id="overview-map" class="hidden-map half-block right">
    <div style="width: 100%; height: 100vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>

</div>

<div class="progress-bottom">
  <div class='step-two'></div>
</div>

<script type="text/javascript">

    function run () { // this will be run when the whole page is loaded

      setInterval(reveal, 2000);
        function reveal () {
        map = document.getElementById("overview-map");
        map.classList.remove("hidden-map");
      }
    };

  window.onload = run

</script>
