<div class="navbar">
  <div class="container d-flex justify-content-between">
    <%= link_to root_path do %>
      <%= image_tag "Logo.png" %>
    <% end %>
    <% unless user_signed_in? %>
      <div class="navbar items" >
        <ul>
          <li>
            <%= link_to "How it works", "#"%>
          </li>
          <li>
            <%= link_to "About us", "#"%>
          </li>
        </ul>
      </div>
    <% end %>
        <% if user_signed_in? %>
          <li>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} , class: "button beige" %>
          </li>
        <% else %>
        <div class="navbar items">
          <li>
            <%= link_to "Create a game", new_user_session_path, class: "button beige" %>
          </li>
          <li>
            <%= link_to "Join a game", new_user_session_path, class: "button green" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
