<div class="navbar">
  <div class="container d-flex justify-content-between">
    <div class="navbar items" >
      <%= link_to root_path do %>
        <%= image_tag "logo.png", class:"logo-nav"%>
      <% end %>
      <% if !user_signed_in? %>
        <div>
          <ul>
            <li>
              <%= link_to "How it works", "#"%>
            </li>
            <li>
              <%= link_to "About us", "#"%>
            </li>
          </ul>
        </div>
        <div>
          <ul>
            <li>
              <%= link_to "Create a game", new_user_session_path, class: "button beige" %>
            </li>
            <li>
              <%= link_to "Join a game", new_user_session_path, class: "button green" %>
            </li>
          </ul>
        </div>
      <% else %>
        <div>
          <li>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} , class: "button beige" %>
          </li>
        </div>
      <% end %>
    </div>
  </div>
</div>
